<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink="/">Josenian Airlines</a>
    <a class="navbar-brand" style="right: 20%; position: absolute;" routerLinkActive="active" routerLink="/user-home">Home</a>
    <a class="navbar-brand" style="right: 13%; position: absolute;" routerLinkActive="active" routerLink="/book-user">Booking</a>
    <a class="navbar-brand" style="right: 6%; position: absolute;" routerLinkActive="active" routerLink="/sched-user">Schedule</a>
    <a class="navbar-brand" style="right: .5%; position: absolute;" routerLinkActive="active" routerLink="/">Logout</a>
  </nav>