<div class="book-card">
<div class="card" style="width: 20rem; margin-top: 10px" *ngFor="let user of bookusers$; index as i">
  
  <div class="card-header title" *ngIf="user.status!='CANCELLED'">
    <span class="id">{{ user.origin }} --> {{ user.destination }}</span>
    <span class="status"><b>{{ user.status }}</b></span>
  </div>

  <div class="card-header title-cancel" *ngIf="user.status=='CANCELLED'">
    <span class="id">{{ user.origin }} --> {{ user.destination }}</span>
    <span class="status"><b>{{ user.status }}</b></span>
  </div>
  <ul class="list-group list-group-flush">

    <li class="list-group-item">
      <a>Departure Date: </a>
      <b>{{user.date}}</b>
    </li>

    <li class="list-group-item">
      <a>Departure Time: </a>
      <b>{{user.dept}}</b>
    </li>

    <li class="list-group-item">
      <a>Arrival Time: </a>
      <b>{{user.arrival}}</b>
    </li>

    <li class="list-group-item">
      <a>Airline: </a>
      <b>{{user.airline}}</b>
    </li>

    <li class="list-group-item">
      <a>Flight Code: </a>
      <b>{{user.fcode}}</b>
    </li>

    <li class="list-group-item">
      <a>Flight Price: </a>
      <b>PHP {{user.fprice}}</b>
    </li>

  </ul>
  <button mat-flat-button color="primary" (click)="onClick(i)" *ngIf="user.status!='CANCELLED'">Book Flight</button>
  <button mat-flat-button color="primary" [disabled]="user.status=='CANCELLED'" *ngIf="user.status=='CANCELLED'">Not Avaialble</button>
</div>
</div>
