<div class="card-book mt-2">
    <div class="card-body">
      <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="destination">Destination</label>
          <br><h2>{{ booking.destination }}</h2>   
        </div>
        <div class="form-group">
          <label for="origin">Origin</label>
          <br><h2>{{ booking.origin }}</h2>
        </div>
        
        <label for="gender">Flight Type:</label>
              <div>
                <input id="status" type="radio" value="ACTIVE" name="status" formControlName="status" (change)="changeType($event)">
                <label id="status" for="Active"> Active</label>
                <input id="status" type="radio" value="CANCELLED" name="status" formControlName="status" (change)="changeType($event)">
                <label id="status" for="Cancel"> Cancel</label>
               <input id="status" type="radio" value="DELAY" name="status" formControlName="status" (change)="changeType($event)">
               <label id="status" for="Delay"> Delay</label>
            </div>
  
      <div class="mt-3">
        <button type="submit" class="btn btn-secondary" [disabled]="!submitForm.valid">Book Flight</button>
        <button type="submit" class="btn btn-secondary ml-2" (click)="onCancel()" >Cancel</button>
      </div>
      </form>
    </div>
  </div>
  