.title{
    display:block;
    color: white;
    background-color: rgb(40, 78, 55);
}

.button{
    display:block;
    color: white;
    background-color: black;
}

.title .id{
    float:left;
}

div.book-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
}